.container{
margin: 0;


}
.sub{
    width: 340px;
    height: 440px;
    background: #c0c0c0;
    border-radius: 8px;
   
    margin:auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    /* box-sizing: border-box; */
   
    position: relative;
}
.sub input{
    
    border-radius: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    position: relative;
    
}

.comment input{
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: 70px;

    
    
    
}
