img{
    border-radius: 10px;
    width: 200px;
}
.main-space{

}

.pic-text{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(250, 235, 215, 0.747);
    justify-content: center;

}

.text{
    padding-left: 30px;
    align-content: center;
    text-align: center;
    font-size: 22px;
    padding-top: 50px;
    padding-right: 30px;
    max-width: 700px;

}

.head-title{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

.skill{
    
}

.skill ul{
   list-style-type: none; 
}