header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(58, 58, 58, .8);
  }

  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(58, 58, 58, .8);
  }
  
  header  li {
    float: left;
  }
  
  header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
  }

  footer  li {
    float: left;
    display: inline block;
    padding-right: 20px;
  }
  
  footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    cursor: pointer;
  }
  .name{
      letter-spacing: 5px;
  }
  /* Change the link color to #111 (black) on hover */
  header  li a:hover {
    background-color: #111;
  }

  header{
      font-size: 25px;
      
  }

  footer  li a:hover {
    background-color: #111;
  }

  footer{

    
    font-size: 20px;
    background-color: rgb(58, 58, 58, .8);
    
    bottom: 0;
    
      
      position: fixed;
      width: 100%;
  }

  body{
    background-color: rgb(255, 254, 254);
    margin: 0px;
    padding: 0px;
    
    
  }

  .titl{
      text-align: center;
      font-size: 25px;
      margin: 1px;
  }
  